{% load static%}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" width ='95%'>
  <a class="navbar-brand" href="/">Просто магазин</a>
   <img src="{% static 'logo.svg' %}" width="42" height="42">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          Главная</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Гаджеты</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% for category in categories %}
                  <a class="dropdown-item" href="{% url 'category_view' category.slug %}">
                  {{ category }}
                  </a>
              {% endfor %}
          </div>

      </li>
    </ul>
        {% if user.is_authenticated  %}
        <p class="username">
            Привет, {{ user.username }}
        </p>
        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
           href="{% url 'logout' %}">
            Выйти</a>

        {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
           href="{% url 'login' %}">
            Войти</a>

        {% endif %}
        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
           href="{% url 'cart' %}">
            Корзина
           <span class="quantity" >
           <div class="circle">{{cart_len}}</div>
           </span>
        </a>
  </div>
    <script src="{% static '/bootstrap.min.js' %}"></script>
<script src="{% static '/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static '/popper.min.js' %}"></script>
</nav>

