{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Graduation Work</title>
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/main.css' %}">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>

<body class="text-center" data-gr-c-s-loaded="true">
<div class="container">
    <h1 class="display-4">Добро пожаловать {{ new_user.first_name }}!</h1>
    <p>Аккаунт создан. Вы можете  <a href="{% url "login" %}">войти в систему</a>.</p>
</div>
</body>
<script src="{% static '/bootstrap.min.js' %}"></script>
<script src="{% static '/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static '/popper.min.js' %}"></script>
</html>